body {
    font-family: 'Roboto', sans-serif;
    padding-top: 44px;
}
* {
    box-sizing: border-box;
}
.container {
    max-width: 1200px;
    margin: auto;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 44px;
}
.input {
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    font-size: 16px;
    line-height: 24px; 
    padding: 8px;
    padding-left: 35px;
    background-repeat: no-repeat;
    background-position: left 11px center;
}
.input-address {
    flex: 0.8;
    background-image: url('../img/home.svg');
}
.input-search {
    width: 306px;
    background-image: url('../img/search.svg');
    margin-left: auto;
}
.buttons {
    display: flex;
    align-items: center;
}
.button {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
    border-radius: 2px;
    color: #595959;
    font-size: 16px;
    line-height: 24px;
}
.button-primary {
    background-color: #1890FF;
    color: #FFFFFF;
    border: 1px solid #D9D9D9;
    margin-right: 10px;
}
.button-icon {
    padding-right: 6px;
    vertical-align: middle;
}
.button-text {
    vertical-align: middle;
}

.button-card-text {
    margin-right: 10px;
}
.main {
    background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%);
    margin-bottom: 68px;
}
.promo {
    box-shadow: 0px 7px 12px rgba(158, 158, 163, 0.1);
    background: #FFF1B8 url('../img/promo-pizza.jpeg')no-repeat top -155px right -247px / 924px;
    border-radius: 10px;
    padding: 68px 70px;
  
    max-width: 1200;
    width: 100%;
    height: 100%;
    max-height: 300px;
    margin-bottom: 56px;
}
.promo__title {
    font-weight: bold;
    font-size: 39px;
    line-height: 46px;
    color: #302C34;
    margin-bottom: 15px;
}
.promo__text {
    max-width: 540px;
    font-size: 24px;
    line-height: 28px;
    color: #302C34;
}
.section-heading {
    display: flex;
    align-items: center;
    margin-bottom: 44px;    
}
.section-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    margin: 0;
    margin-right: 30px;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.card {
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 7px;
    overflow: hidden;
    margin-bottom: 30px;
    flex-basis: 30%;
    text-decoration: none;
    color: #000;
}
.card-image {
    width: 384px;
    height: 250px;
    object-fit: cover;
}
.card-text {
    padding: 20px 23px 35px;
}
.card-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-title {
    margin: 0;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
}

.card-title-reg {
    font-weight: 400;
}
.card-tag {
    background: #262626;
    border-radius: 2px;
    font-size: 12px;
    line-height: 20px;
    color: #FFF;
    padding: 1px 8px;
}
.card-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
}
.card-buttons {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.card-price-bold {
    margin-left: 32px;
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
}
.rating {
    margin-right: 26px;
    font-size: 18px;
    line-height: 32px;
    font-weight: bold;
    color: #FFC107;
}
.price, .category {
    font-size: 18px;
    line-height: 32px;
    color: #8C8C8C;
}
.ingredients {
    font-size: 18px;
    line-height: 21px;
    color: #8C8C8C;
}
.category {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    min-width: 150px;
}
.price {
    margin-right: 10px;
}
.price:after {
    content:'';
    width: 5px;
    height: 5px;
    background-color:#8C8C8C;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    margin-left: 10px;
}
.footer {
    padding: 60px 0;
}
.footer-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-nav {
    margin-left: 35px;
    margin-right: auto;
}
.footer-link {
    display: inline-block;
    font-size: 18px;
    line-height: 21px;
    color: #595959;
    text-decoration: none;

}
.footer-link:not(:last-child) {
    margin-right: 15px;
}
.social-links {
    display: flex;
    align-items: center;
    vertical-align: middle;
}
.social-link:not(:last-child) {
    margin-right: 21px;
}

@media (max-width: 1366px) {
    .container {
        max-width: 960px;
    }
    .promo {
        background-position: center right -277px;
        background-size: 750px;
    }
    .rating {
        margin-right: 15px;
    }
    .category,
    .price {
        font-size: 14px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 750px;
    }
    .promo {
        padding: 50px;
        background-size: 500px;
        background-position: center right -200px;
    }
    .promo__title {
        font-size: 34px;
    }
    .promo__text {
        font-size: 18px;
        max-width: 400px;
    }
    .card {
        flex-basis: 49%;
    }
    .foter-link {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 560px;
    }
    .card-title {
        font-size: 18px;
    }
    .promo {
        background-size: 400px;
        background-position: bottom 50 right -200px;

    }
    .promo__title {
        font-size: 24px;
        line-height: 1.4;
    }
    .promo__text{
        margin-top: 0;
    }
    .card-info {
        margin-bottom: 0px;
    }
    .button-primary {
        margin-right: 0px;
    }
    /* .card-info {
        flex-wrap: wrap;
    }
    .rating {
        flex-basis: 100%;
    } */
}
@media (max-width: 578px) {
    .container {
        width: 90%;
    }
    .header {
        flex-wrap: wrap;
    }
    .input-address {
        margin-top: 15px;
        flex: 1;
        order: 3;
    }
    .promo {
        background-image: none;
    }
    .promo__title {
        margin-bottom: 10px;
    }
    .section-title {
        font-size: 22px;
    }
    .card {
        flex-basis: 100%;
    }
    .card-image {
        width: 100%;
    }
    .footer {
        padding: 30px 0;
    }
    .footer-block {
        align-items: flex-start;
    }
    .footer-nav {
        margin-right: 0;
        margin-left: 0;
        order: 0;
    }
    .footer-logo {
        order: 1;
        margin-right: 15px;
    }
    .social-links {
        order: 2;
    }
}
@media (max-width: 480px) { 
    .button-text {
        display: none;
    }
    .button-icon {
        margin: 0px;
    }
    .button {
        min-height: 40px;
    }
    .promo {
        padding: 20px;
    }
    .section-heading {
        flex-wrap: wrap;
    }
    .footer-block {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;

    }
    .footer-logo {
        order: 0;
        margin-bottom: 20px;
    }
    .footer-nav {
        margin-bottom: 20px;
        text-align: center;
    }
    .footer-link:not(:last-child) {
        margin-right: 0;
    }
}